/* Aula 01 - 01/04/2023 */

body, ul {
    margin: 0px;
    padding: 0px;
}
#header #menu a {

    color: rgb(69, 0, 230);
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
}
#header #menu a:hover {
    color: crimson;
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 2px 2px 6px #0000007a;
}
#logo img:hover {
    box-shadow: 2px 2px 6px #0000007a;
    transition: 0.3s;
}

#logo img{
    float: left;
    height: 75px;
    position: relative;
    top: 0px;
    left: 0px;
}
#header {
    width: 100%;
    position: fixed;
    z-index: 90;
    box-sizing: border-box;
    height: 90px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0a0000;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 90px;
}
/* Estilo CSS Banner */
.section-banner-home {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 50px;
    background-color: black;
}
.section-banner-home img {
    width: 100px;
    height: 500px;
    margin-top: 10px;
    padding: 50px;
    background-color: #09ff6f;
}
.section-banner-home img {
    height: 400px;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight:500;
    padding-bottom: 20px;
}
.section-banner-home .texto-banner a {
    color:rgb(72, 0, 240);
    text-decoration: none;
    background-color: #00f3fc;
    padding: 4px 14px;
    font-size: 15px;
}
/*Fim CCS Banner *
/* CSS Destaque */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    margin: 30px auto; 
}
.destaque figcapition {
    font-size: 13px;
    color:rgb(200, 255, 0);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color:aquamarine;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
/* Fim CSS Destaque */